section#answer Calculating...

section#timer.time
  span.time-segment.hour 000
  span.time-separator :
  span.time-segment.minute 00
  span.time-separator :
  span.time-segment.second 00

footer#credits
  small#copyright
    ©
    a(href='http://www.ravinggenius.com/') Thomas Ingram
