section#answer Calculating...

section#timer.time
  span.time-segment.hour hhh
  span.time-separator :
  span.time-segment.minute mm
  span.time-separator :
  span.time-segment.second ss

footer#credits
  small#copyright
    ©
    a(href='http://www.ravinggenius.com/') Thomas Ingram
