section#answer Calculating...

section#timer.time
  span.time-segment.hour
  span.time-separator :
  span.time-segment.minute
  span.time-separator :
  span.time-segment.second

footer#credits
  small#copyright
    ©
    a(href='http://www.ravinggenius.com/') Thomas Ingram
