.credits {
  font-size: 2rem;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

@media (min-height: 40ex) {
  .credits {
    bottom: 0;
    position: fixed;
  }
}

.credits a {
  color: currentColor;
  display: inline-block;
  border-bottom: 1px dotted currentColor;
  text-decoration: none;
}
