.answerYes,
.answerNo {
  font-size: 15rem;
}

:global(.fontLoaded-Henny-Penny) .answerYes {
  font-family: 'Henny Penny', cursive;
}

:global(.fontLoaded-Special-Elite) .answerNo {
  font-family: 'Special Elite', sans-serif;
}
