/**
 * http://jsbin.com/acide4/8
 * http://snook.ca/archives/html_and_css/font-size-with-rem
 */
html {
  font-size: 62.5%;
  height: 100%;
}

.isDark {
  color: rgba(255, 255, 255, 0.8);
}

.isLight {
  color: rgba(0, 0, 0, 0.6);
}

.rainbow {
  background-color: #000000;
  background-image: radial-gradient(circle at 50% 0%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  transition: all 0.5s ease-in-out;
}
