html {
	font-size: 62.5%;
	height: 100%;
}

body {
	align-items: center;
	background-color: #000000;
	background-image: radial-gradient(
		circle at 50% 0%,
		rgba(255, 255, 255, 0.2),
		rgba(255, 255, 255, 0)
	);
	display: flex;
	font-family: sans-serif;
	height: 100vh;
	justify-content: center;
	margin: 0;
	transition: all 0.5s ease-in-out;
}

body.is-dark {
	color: rgba(255, 255, 255, 0.8);
}

body.is-light {
	color: rgba(0, 0, 0, 0.6);
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.answer-yes,
.answer-no {
	font-size: 30vw;
	margin: 0;
	width: min-content;
}

.answer-yes {
	font-family: 'Henny Penny', cursive;
}

.answer-no {
	font-family: 'Special Elite', sans-serif;
}

.answer,
.clock {
	display: flex;
	font-family: Geo, monospace;
	font-size: 20vw;
	width: min-content;
}

small.credits {
	bottom: 0;
	font-size: 2.4rem;
	line-height: 1;
	padding: 0.5rem;
	position: absolute;
}

@media (max-width: 800px) {
	small.credits {
		font-size: 3vw;
	}
}

small.credits a {
	color: currentColor;
	text-decoration: underline;
}
